
#h1{
    font-size: 30px;
    color:black;
    margin-right:auto;
    margin-left: auto;
    text-align: center;
    
}
#body{
    background-color: rgb(153, 117, 112);
}
#wizard{
    display: block;
    margin-right:auto;
    margin-left: auto;
    padding-bottom: 10px;
}
#button{
    display: block;
    margin-right:auto;
    margin-left: auto;
    
}